
    html, body {

    }

    .full-height {
        margin-top: 18%;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 68px;
    }

    .links > a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .m-b-md {
        color: #ffffff;
        -webkit-text-stroke: 3px black;
        letter-spacing: 5px;
        font-family: 'Anton', sans-serif;;
        margin: 0;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .tabel{
      text-align: center;
    }
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
